.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  max-width: 1800px;
  margin: auto;
}

.imageSection{
  position: relative;
  width: 100%;
  height: auto;
}

.imageSection > img{
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
  filter: opacity(.7);
}

.imageSection > h2{
  position: absolute;
  top: 70%;
  color: white;
  width: 330px;
  left: calc(50% - 165px);
}

.imageSection > h6{
  position: absolute;
  bottom: 15%;
  color: white;
  width: 250px;
  left: calc(50% - 125px);

}

.productsGrid{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 0;
}